[submodule "processing/phono_divinoro"]
	path = processing/phono_divinoro
	url = https://github.com/Revlin/phono_divinoro.git
[submodule "jsgif"]
	path = jsgif
	url =  https://github.com/antimatter15/jsgif.git
[submodule "canvg"]
	path = canvg
	url = git@github.com:Revlin/canvg.git
